@font-face {
    font-family: "PB700";
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "PR400";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "PSB600";
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "quickKidss";
    src: url(../fonts/Quick\ Kiss\ Personal\ Use.ttf);
}